.text-input {
  width: 95%;
  border: 1px solid #cacccd;
  height: 50px;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $s-size;
  display: block;
  margin: 2rem auto;
  border-radius: 3rem;
  outline-width: 0;
}
