.main {
    display: inline-block;
    height: 20rem;
    width: 22.5%;
    display: flex;
    flex-direction: column;
}
 
.list-header {
    background: $off-white;
    border: 1px solid darken($off-white, 7%);
    color: $grey;
    padding: 0 $m-size $s-size $m-size;
}

.list {
    height: 40rem;
}

